/* Imports de fonts */

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family: Titillium_Web;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
    
}


/* Classes genéricas */

.mostrar-menu{

    left: 0 !important;
}

/* Variáveis de ambiente */
:root {
    --cor-primaria: rgba(27, 20, 38, 1);
    --cor-secundaria: rgba(249, 170, 1, 1);
    --cor-de-fundo: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    --cor-da-borda: rgba(255, 255, 255, 0.3);

    --altura-section: calc(100vh - 60px);
}

.mostrar-menu-usuarios{

    right: 0 !important;
}

/* layout-grid */

.layout-grid{

    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Reset CSS */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    color: white;
}









/* MOBLILE FIRST (<=767px)*/

/*********HEADER*******/

header{

    position: fixed;
    width: 100vw;
    z-index: 100;
    background-color: #1B1426;
    height: 60px;

}

header .header-top{

    display: none;
}

header .header-bottom{

    height: 60px;
}

/* logo */
header .logo{

    width: 86px;
    height: 25px;

}

/* box com os links nav br */
header .header-bottom nav{

    position: fixed;
    left: -80vw;
    top: 60px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 80vw;

    /* Viewport - 60px do header */
    height: calc(100vh - 60px);

    /* Fazer um linear gradiente (degradê) */

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    /* adicionar o efeito de borrado */
    backdrop-filter: blur(45px);


    transition: left 0.4s;
    
    

}

/* config dos conteúdos dentro da nav bar */
header .header-bottom nav > a{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-bottom: 2px solid #F9AA01;
    padding: 30px 0;
    color: white;
    text-align: center;
    font-family: Inter;
    text-decoration: none;
    font-size: 15px;
}

/* pseudo elemento */
header .header-bottom nav a:last-of-type {
    
    border: none;

}

header .header-bottom nav .midias-sociais{

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    

}

header .menu-usuarios{

    position: fixed;
    right: -20vw;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    padding: 15px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    gap: 20px;

    transition: right 0.4s;
}





/***************MAIN************/

main{

padding-top: 60px;


}

/* banner */
main .banner{

        background-image: url("../assets/img/banner-mobile-valorant.png");
        height: calc(100vh - 60px);
        width: 100%;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    
    
 

}

.banner h1{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 40px;
    text-transform: capitalize;
    text-shadow: #FD4255 1px 0 10px;
    color: white;

    margin-top: 10px;

}

.banner button{

width: 171px;
height: 40px;
background-color: #F9AA01;
color: black;

font-family: Titillium_Web;
font-weight: bold;
font-size: 24px;
border-radius: 8px;
border: none;

margin-bottom: 88px;

}


/* seção curiosidades */
.section-curiosidades-flex{

display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;

}

.section-curiosidades{

    width: 100%;
    height: 590px;
    background-color: #1B1426;
}

.card-fifa{

    background-image: url(../assets/img/Card-FIFA.png);
    width: 335.79px;
    height: 189px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}

.box-transparente{

height: 50px;
width: 335px;
background-image: linear-gradient(to right bottom, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
backdrop-filter: blur(4px);
border-radius: 8px;

display: flex;
justify-content: start;
align-items: center;

border: 1px solid rgba(255, 255, 255, 0.6);

}

.box-paralelograma{

    width: 200px;
    height: 40px;
    background-color: #F9AA01;
    transform: skew(-40deg);
    margin-left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-paralelograma-p{

    transform: skew(40deg);
    font-family: Titillium_Web;
    font-weight: bold;
    color: black ;
    font-size: 16px;

    text-transform: capitalize;

}

.card-cs{

    background-image: url(../assets/img/Card-CS\ GO.png);
    width: 335.79px;
    height: 189px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}

/* entre para o time gamer */

.section-entre-para-o-time{

    width: 100%;
    height: 1535px;
    background-color: #F9AA01;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;


}

.section-time-flex{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.section-entre-para-o-time h1{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #1B1426;
    letter-spacing: 2px;
}

.section-entre-para-o-time hr {

    width: 204px;
    margin-top: 40px;
    border-color: #1B1426;

}

/* section killjoy */
/* imagem killjoy */
.imagem-killjoy{

position: relative;
background-image: url(../assets/img/kiljoy.png);
width: 314px;
height: 511px;
margin-top: 85px;

}

/* box linear-gradient */
.box-20-jogos-diferentes{


    position: absolute;
    right: -20px;
    top: 135px;
    width: 231px;
    height: 300px;
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/* icone dentro da box linear-gradient */
.icon-controle{
width: 97px;
height: 97px;
margin-bottom: 20px;
margin-top: 20px;

}

/* titulo box linear-gradient */
.box-20-jogos-diferentes h2{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* paragrágrafo box linear-gradient */
.box-20-jogos-diferentes p{

    margin-top: 19px;
    width: 176px;
    height: 64px;
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;

}


/* section 2 lol */

/* imagem jinx */
.imagem-lol{

    position: relative;
    background-image: url(../assets/img/legue\ of\ legends.png);
    width: 314px;
    height: 511px;
    margin-top: 85px;
    background-repeat: no-repeat;

}

/* box linear-gradient */
.box-53-professores{


    position: absolute;
    left: 0;
    top: 100px;
    width: 231px;
    height: 300px;
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);



    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}


/* icone dentro da box linear-gradient */
.icon-jogador{
    width: 97px;
    height: 97px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* titulo box linear-gradient */
.box-53-professores h2{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

/* paragrágrafo box linear-gradient */
.box-53-professores p {

    margin-top: 19px;
    width: 162px;
    height: 112px;
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;

}


/* section noticias */

.noticias{

    width: 100%;
    height: 3675px;
    background-image: url(../assets/img/backgrund_notícias-\ mobile.png);


}

.title-flex{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

 .noticias h1{

    font-family: Titillium_Web;
    font-weight: 900;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;

}

.noticias hr{

border-color:  #F9AA01;
width: 204px;
}

.noticias-flex{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 50px;
}

.box-cards-noticias{

    width: 100%;
    height: 3567px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box-noticia{

    width: 335px;
    height: 387px;
    background-image: linear-gradient(to right bottom, rgba(37, 26, 52, 0.34)   , rgba(5, 1, 12, 0.79));
    border-radius: 8px;
    backdrop-filter: blur(6px);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-flex{

    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
}

.box-noticia h2{

    font-family: Titillium_Web;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 25px;


}

.box-noticia p{

    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    width: 280px;
    height: 120px;

}



/****************FOOTER**************/
footer {
    height: 1230px;
    background-image: url(../assets/img/backgroung_footer-mobile.png);
    position: relative;
    z-index: 10;
}

.footer-gradient {
    position: absolute;
    top: -3px;
    z-index: 11;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(27, 20, 38, 0.1));
}

.footer-flex {
    height: 100%;
    padding: 60px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 12;
}

.footer-titulo, .footer-inicio, .redes-sociais,
.links-uteis, .contatos, .newsletter {
    width: 100%;
}

footer .footer-titulo h2 {
    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.6px;
    color: white;
}

footer .footer-titulo hr {
    border-bottom: 3px solid var(--cor-secundaria);
    width: calc(100% / 3);
    margin-bottom: 45px;
}

footer .footer-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    /* background-image: linear-gradient(from top to bottom right, rgba(27, 20, 38, 0.5), rgba(27, 20, 38, 0.1)); */
}

.footer-inicio .logo {
    width: 130px;
    height: 38px;
}

.footer-inicio p {
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
}

footer .redes-sociais {
    display: flex;
    justify-content: space-between;
}

footer .redes-sociais .rede-social-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
}

footer .links-uteis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-uteis .links {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}

.links-uteis .link {
    display: flex;
    align-items: center;
    color: white;
    gap: 0 10px;
}

.links-uteis .link hr {
    border: 1px solid var(--cor-secundaria);
    width: 10px;
    height: 1px;
}

.links-uteis .link p {
    font-family: Titillium_Web;
    font-style: normal;
    font-size: 18px;
}

.contatos .contato {
    font-family: Titillium_Web;
    font-weight: bold;
    font-size: 17px;
}

.contato .contato-topico { color: var(--cor-secundaria); }
.contato .contato-descricao { color: white; }


footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter .newsletter-form {
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-form .email-input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(239, 239, 239, 0.5), rgba(239, 239, 239, 0.2));
}

.newsletter-form .send-button {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--cor-secundaria);
    font-family: Titillium_Web;
    font-weight: bold;
    font-size: 24px;
}

.newsletter-form .email-input::placeholder {
    color: white;
    font-family: Titillium-Web;
    font-size: 16px;
}

footer .copyright-text {
    font-family: Titillium-Web;
    color: white;
    font-size: 16px;
}















































/* Tablets >=768px */

/* Desktop >=1200px */
@media screen and (min-width:1200px) {
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .layout-grid {
        width: 100%;
        max-width: 1200px;

    }


    /* header */
    header {
        height: 140px;
        position: static;
        width: 100%;
    }

    header .header-top {
        height: 50px;
        display: block;
        border-bottom: 2px solid #F9AA01;
        font-family: Inter;
        font-size: 14px;
        font-weight: regular;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;

    }

    /* divs .phone, .mail */
    header .header-top .contatos > div {
        display: flex;
        gap: 10px;
        width: 200px;
    }


    header .header-top .midias-sociais {
        width: 140px;
        display: flex;
        justify-content: space-between;
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .logo {
        width: 200px;
        height: 40px;
    }

    header .header-bottom{

        height: 90px;

    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
    }

    header .header-bottom nav > a {
        font-size: 14px;
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        background-color: transparent;
        background-image: none;
        padding: 0;
    }



    /* MAIN */
    main{

        padding-top: 0;
    }

    main .banner{

        height: 772px;
        background-image: url(../assets/img/Banner_background_1-desktop.png);
        width: 100%;

    }

    .banner h1{

        font-family: Titillium_Web;
        font-weight: 900;
        font-size: 80px;
        text-transform: capitalize;
        text-shadow: #FD4255 1px 0 10px;
        color: white;
    
        margin-top: 10px;
    
    }

    .banner button{

        width: 205px;
        height: 40px;
        background-color: #F9AA01;
        color: black;
        
        font-family: Titillium_Web;
        font-weight: bold;
        font-size: 24px;
        border-radius: 8px;
        border: none;
        
        margin-bottom: 88px;
        
        }





    /* seção curiosidades */
    .section-curiosidades-flex{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    gap: 29px;
    align-items: center;
    
    }

    .section-curiosidades{

        width: 100%;
        height: 590px;
        background-color: #1B1426;
    }

    .card-fifa{

        background-image: url(../assets/img/Card-FIFA.png);
        width: 556px;
        height: 313px;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .box-transparente{

        height: 80px;
        width: 556px;
        background-image: linear-gradient(to right bottom, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
        backdrop-filter: blur(4px);
        border-radius: 8px;
        
        display: flex;
        justify-content: start;
        align-items: center;
        
        border: 1px solid rgba(255, 255, 255, 0.6);
        
    }

    .box-paralelograma{

        width: 220px;
        height: 50px;
        background-color: #F9AA01;
        transform: skew(-40deg);
        margin-left: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-paralelograma-p{

        transform: skew(40deg);
        font-family: Titillium_Web;
        font-weight: bold;
        color: black ;
        font-size: 20px;
    
        text-transform: capitalize;
    
    }

    .card-cs{

        background-image: url(../assets/img/Card-CS\ GO.png);
        width: 556px;
        height: 313px;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    /* entre para o time gamer */

    .section-entre-para-o-time{

    width: 100%;
    height: 1000px;
    background-color: #F9AA01;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;

    }

    .section-time-flex{

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 90px;
        padding-bottom: 280px;
    }


    .section-entre-para-o-time h1{

        font-family: Titillium_Web;
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        color: #1B1426;
        letter-spacing: 2px;
    }

    .section-entre-para-o-time hr {

        width: 204px;
        margin-top: 40px;
        border-color: #1B1426;
    
    }


    /* section killjoy */
    /* imagem killjoy */
    .imagem-killjoy{

    position: relative;
    background-image: url(../assets/img/kiljoy.png);
    background-size: cover;
    width: 425px;
    height: 692px;
    margin-top: 85px;
    
    }

    /* box linear-gradient */
    .box-20-jogos-diferentes{


    position: absolute;
    right: -150px;
    top: 190px;
    width: 360px;
    height: 440px;
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }

    /* icone dentro da box linear-gradient */
    .icon-controle{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    }

    /* titulo box linear-gradient */
    .box-20-jogos-diferentes h2{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;

    }

    /* paragrágrafo box linear-gradient */
    .box-20-jogos-diferentes p{

    margin-top: 19px;
    width: 240px;
    height: 80px;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    }


    /* section 2 lol */

    /* imagem jinx */
    .imagem-lol{

    position: relative;
    background-image: url(../assets/img/legue\ of\ legends.png);
    width: 521px;
    height: 692px;
    margin-top: 85px;
    background-size: cover;
    }

    /* box linear-gradient */
    .box-53-professores{


    position: absolute;
    left: -70px;
    top: 190px;
    width: 360px;
    height: 440px;
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);



    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    }


    /* icone dentro da box linear-gradient */
    .icon-jogador{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    margin-top: 20px;
    }

    /* titulo box linear-gradient */
    .box-53-professores h2{

    font-family: Titillium_Web;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    }

    /* paragrágrafo box linear-gradient */
    .box-53-professores p {

    margin-top: 19px;
    width: 240px;
    height: 80px;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;

    }


    /* section noticias */

    .noticias{

    width: 100%;
    height: 1175px;
    background-image: url(../assets/img/backgrund_notícias-desktop.png);


    }

    .title-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;  
    }

    .noticias h1{

        font-family: Titillium_Web;
        font-weight: 900;
        color: white;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 40px;
    
    }

    .noticias hr{

        border-color:  #F9AA01;
        width: 204px;
    }

    .noticias-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 50px;
    }

    .box-noticia{

        width: 285px;
        height: 387px;
        background-image: linear-gradient(to right bottom, rgba(37, 26, 52, 0.34)   , rgba(5, 1, 12, 0.79));
        border-radius: 8px;
        backdrop-filter: blur(6px);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-cards-noticias{

        width: 1200px;
        height: 898px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

    }

    .card-flex{

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    

    .imagem-card{

        width: 285px;
        height: 175px;
    }

    .box-noticia h2{

        font-family: Titillium_Web;
        font-weight: bold;
        font-size: 24px;
        text-transform: capitalize;
        margin-top: 30px;
        margin-bottom: 20px;
        align-self: flex-start;
        margin-left: 25px;
    
    
    }

    .box-noticia p{

        font-family: Quicksand;
        font-size: 16px;
        font-style: normal;
        width: 240px;
        height: 120px;
    
    }
}

